fastapi==0.104.1
uvicorn[standard]==0.24.0
python-multipart==0.0.6

langchain-core==0.3.15

langchain==0.1.16
langchain-google-genai==0.0.11
pydantic==1.10.12


opencv-python-headless

langgraph
groq
python-dotenv
pydub
gtts
SpeechRecognition
google-generativeai
ffmpeg-python
numpy
requests
sounddevice
